name: Sniper de Etios 

on:
  schedule:
    - cron: "0 15,21 * * *"
  workflow_dispatch:

jobs:
  buscar:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar Depend锚ncias
        run: pip install requests beautifulsoup4

      - name:  Rodar Autocarro
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python autocarro.py

      - name: Commit e Push da Mem贸ria
        run: |
          git config --global user.name 'Sniper Bot'
          git config --global user.email 'bot@noreply.github.com'
          # Tenta adicionar o arquivo de mem贸ria
          git add price_memory.json
          # S贸 faz o commit se houver mudan莽a
          git commit -m "Atualizando hist贸rico de pre莽os " || exit 0
          git push
